.button {
  display: flex;
  width: rem(20px);
  height: rem(10px);
  margin-left: rem(20px);
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  left: 0;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button::before {
  top: 0;
}

.button::after {
  bottom: 0;
}

.open::before {
  top: calc(50% - 1px);
}

.open::after {
  bottom: calc(50%);
}

.root {
}

.overlay {
  backdrop-filter: blur(10px);
  @mixin light {
    background: rgba(255, 255, 255, 0.5);
  }
  @mixin dark {
    background: rgba(26, 30, 46, 0.5);
  }
}

.content {
  z-index: 201;
  background: transparent;
}

.body {
  padding-top: rem(110px);
  padding-left: 0;
  padding-right: 0;
}

.inner {
  width: 100%;
  padding-left: rem(36px);
  padding-right: rem(36px);
  justify-content: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
