.header {
  display: flex;
}

.buttons {
  position: fixed;
  top: rem(36px);
  right: calc(rem(36px) + var(--removed-body-scroll-bar-size, 0px));
  display: flex;
  align-items: center;
  z-index: 202;
}
